.emp-hero-section {
  background-image: url("/images/Hero_Candidate.png");
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
}

.emp-hero-content {
  max-width: md;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.emp-hero-heading {
  width: auto;
  color: #28395a;
  line-height: 4rem;
}

.post-job-button {
  background-color: #28395a !important;
  color: white !important;
}

.stat-box {
  background-color: #2d3748;
  color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recent-jobs-box {
  background-color: #f7fafc;
}

.info-box {
  background-color: #f7fafc;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.view-button {
  background-color: #28395a !important;
  color: white;
}

.btn-disable {
  background-color: #e5737a;
  color: white;
}

/* Styles for the buttons */
.btn-delete {
  background-color: #e53e3e;
  color: #fff;
}

.btn-delete:hover {
  background-color: #c53030;
}

.btn-approve {
  background-color: #38a169;
  color: #fff;
}

.btn-approve:hover {
  background-color: #2f855a;
}

.candidate-box {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background-color: #d1e1ec;
  display: flex;
  flex-direction: row;
  gap: 700px;
  margin-bottom: 12px;
}

.candidate-name {
  padding: 8px;
  padding-left: 100px;
  width: 60%;
  font-weight: bold;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .emp-hero-section {
    height: 300px;
  }

  .emp-hero-heading {
    line-height: 2rem;
  }

  .stat-box, .recent-jobs-box, .info-box {
    padding: 12px;
  }

  .candidate-box {
    flex-direction: column;
    gap: 10px;
  }

  .candidate-name {
    width: 100%;
    padding-left: 0;
  }
}
