/* Critical CSS (to be inlined in index.html) */
.emp-hero-section {
  background-image: url("/images/Hero_Candidate.webp");
  background-size: cover !important;
  background-position: center !important;
  height: 500px !important;
  display: flex !important;
  align-items: center !important;
}

.emp-hero-content {
  max-width: md;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.emp-hero-heading {
  color: #28395a;
  line-height: 4rem !important;
}

.post-job-button {
  background-color: #28395a !important;
  color: white !important;
}

/* Non-critical CSS */
.stat-box {
  background-color: #2d3748;
  color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recent-jobs-box {
  background-color: #f7fafc;
}

.info-box {
  background-color: #f7fafc;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.view-button {
  background-color: #28395a !important;
  color: white !important;
}

.btn-disable {
  background-color: #e5737a !important;
  color: white !important;
}

.btn-delete {
  background-color: #e53e3e !important;
  color: #fff !important;
}

.btn-delete:hover {
  background-color: #c53030 !important;
}

.btn-approve {
  background-color: #38a169 !important;
  color: #fff !important;
}

.btn-approve:hover {
  background-color: #2f855a !important;
}

.candidate-box {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background-color: #d1e1ec;
  display: flex;
  flex-direction: row;
  gap: 700px;
  margin-bottom: 12px;
}

.candidate-name {
  padding: 8px;
  padding-left: 100px;
  width: 60%;
  font-weight: bold;
}
