/* nav styles */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: blue;
  color: white;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.company-name {
  font-size: 24px;
  font-weight: bold;
}

.sign-in-button {
  background-color: white;
  color: blue;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}


/* Footer styles */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f1f1f1;
  color: #333;
}

.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.footer-details {
  text-align: center;
  font-size: 14px;
}

/* main styles */

body {
  font-family: Arial, sans-serif;
  background:linear-gradient(90deg, rgba(0,0,50,1) 0%, rgba(0,50,150,1) 100%);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.signup_container_candidate {
  display:grid;
  grid-template-columns: 1fr 1fr;

  border-radius: 15px;
  margin: 3rem;
}

.signup_container_employer{
  display:grid;
  grid-template-columns: 1fr 1fr;
  width: 95vw;
  height:auto;
  border-radius: 15px;
  padding-top: 1.5rem;
}

.grid1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0 0 15px;
  padding:.5rem;
  background-color: white;
}

.centered-image {
  max-width: 100%;
  max-height: 100%;
}

.grid2{
  background-color: #ffffff;
  border-radius: 0 15px 15px 0;
}

.logoh1{
  display:flex;
  padding-top:.5rem;
  justify-content: center;
  align-items: center;
}

.logoh1 > img{
  width:8%;
  height:8%;
  padding-right: .7rem;
}

.grid2_container{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid2_container > h2, .grid2_container> h3{
  text-align: center;
}

.toggle-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 8rem;
  margin-right: 8rem;
  border-radius: 15px;
  padding: 8px 2px;
}

.toggle-container button {
  padding: 7px 18px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #536579;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-container button:disabled {
  background-color: #dfdede;
  cursor: not-allowed;
  color: black;
}


.custom-hr {
  width: 70%;
  height: 1px;
  background-color: black;
  border: none;
}


/* Form styles */

.form-container {
  background-color: white;
  padding: 20px;
  width: 100%;
  max-width: 470px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group1{
  display: flex;
  flex-wrap: nowrap;;
  gap: 5%;
  margin-bottom: 1rem;
}

.form-group1 div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group1 label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group1 input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width:90%;
}

.form-group1:first-child {
  display: flex;
  justify-content: space-between;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group:first-child {
  display: flex;
  justify-content: space-between;
}

.form-group:first-child label,
.form-group:first-child input {
  width: 40%;
}

.submit-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}



