body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, rgba(0,0,50,1) 0%, rgba(0,50,150,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signin_container {
    width: 400px;
    background-color:#3d417f;
    padding:0 4rem 4rem 4rem;
    text-align: center;
}

.logoh1{
    display:flex;
    padding-top:.5rem;
    justify-content: center;
    align-items: center;
  }

.logoh1 > img{
    width:8%;
    height:8%;
    padding-right: .7rem;
  }

h1 {
    font-size: 24px;
    color: #fff;
}

h2 {
    margin:2rem 0;
    color: #fff;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

.form-group label {
    margin-bottom: .7rem;
    font-weight: bold;
    color: white;
    text-align: left;
  }

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: white;
    color: #fff;
    font-size: 16px;
    margin-bottom: 1rem;
}

.btn {
    width: 105%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background: #0056b3;
}
